---
import MovieListProductionCompany from "@/components/movie/movie-list-production-company.astro"
import BreadcrumbSchema from "@/components/seo/breadcrumb-schema.astro"
import MainLayout from "@/layouts/main-layout.astro"
import { api } from "@/trpc/server"

const { slug } = Astro.params

const productionCompany = await api.productionCompany.bySlug(slug!)

if (!productionCompany) {
  return Astro.redirect("/404")
}

const { searchParams } = Astro.url
const currentPage = searchParams.has("page")
  ? parseInt(searchParams.get("page") ?? "1")
  : 1

const pageTitle =
  currentPage > 1
    ? `${productionCompany.name} - Halaman ${currentPage}`
    : productionCompany.name

const pageDescription =
  currentPage > 1
    ? `Film terbaru pada halaman ${currentPage} dari rumah produksi ${productionCompany.name}.`
    : `Film terbaru dari rumah produksi ${productionCompany.name}.`
---

<!-- TODO: add more content not just movie when other content type available -->
<MainLayout title={pageTitle} description={pageDescription}>
  <h1 class="mb-6 text-2xl font-bold md:text-3xl">{productionCompany.name}</h1>
  <MovieListProductionCompany
    productionCompany={productionCompany}
    page={currentPage}
    perPage={12}
  />
  <BreadcrumbSchema
    listItems={[
      {
        name: "Film",
        url: "/movie",
      },
      {
        name: productionCompany.name,
        url: `/movie/production-company/${productionCompany.slug}`,
      },
      ...(currentPage > 1
        ? [
            {
              name: `Halaman ${currentPage}`,
              url: `/movie/production-company/${productionCompany.slug}?page=${currentPage}`,
            },
          ]
        : []),
    ]}
  />
</MainLayout>
