---
import ArticleList from "@/components/article/article-list.astro"
import BreadcrumbSchema from "@/components/seo/breadcrumb-schema.astro"
import MainLayout from "@/layouts/main-layout.astro"

const { searchParams } = Astro.url
const currentPage = searchParams.has("page")
  ? parseInt(searchParams.get("page") ?? "1")
  : 1

const pageTitle =
  currentPage > 1 ? `Artikel - Halaman ${currentPage}` : "Artikel"

const pageDescription =
  currentPage > 1
    ? `Artikel terbaru pada halaman ${currentPage} dari berbagai topik pop culture, game, anime, manga, film, musik, tv, komik, teknologi dan topik anti mainstream lainnya.`
    : "Artikel terbaru dari berbagai topik pop culture, game, anime, manga, film, musik, tv, komik, teknologi dan topik anti mainstream lainnya."
---

<MainLayout title={pageTitle} description={pageDescription}>
  <h1 class="mb-6 text-2xl font-bold md:text-3xl">Artikel</h1>
  <ArticleList page={currentPage} perPage={10} />
</MainLayout>

<BreadcrumbSchema
  listItems={[
    {
      name: "Artikel",
      url: "/article",
    },
    ...(currentPage > 1
      ? [
          {
            name: `Halaman ${currentPage}`,
            url: `/article?page=${currentPage}`,
          },
        ]
      : []),
  ]}
/>
