---
import ArticleListTopic from "@/components/article/article-list-topic.astro"
import BreadcrumbSchema from "@/components/seo/breadcrumb-schema.astro"
import MainLayout from "@/layouts/main-layout.astro"
import { api } from "@/trpc/server"

const { slug } = Astro.params

const topic = await api.topic.bySlug(slug!)

if (!topic) {
  return Astro.redirect("/404")
}

const { searchParams } = Astro.url
const currentPage = searchParams.has("page")
  ? parseInt(searchParams.get("page") ?? "1")
  : 1

const pageTitle =
  currentPage > 1
    ? `Artikel dari topik ${topic.title} - Halaman ${currentPage}`
    : topic.title

const pageDescription =
  currentPage > 1
    ? `Artikel terbaru pada halaman ${currentPage} dari berbagai topik ${topic.title}.`
    : `Artikel terbaru dari berbagai topik ${topic.title}.`
---

<MainLayout title={pageTitle} description={pageDescription}>
  <h1 class="mb-6 text-2xl font-bold md:text-3xl">Artikel</h1>
  <ArticleListTopic topic={topic} page={currentPage} perPage={10} />
  <BreadcrumbSchema
    listItems={[
      {
        name: "Artikel",
        url: "/article",
      },
      {
        name: topic.title,
        url: `/article/topic/${topic.slug}`,
      },
      ...(currentPage > 1
        ? [
            {
              name: `Halaman ${currentPage}`,
              url: `/article/topic/${topic.slug}?page=${currentPage}`,
            },
          ]
        : []),
    ]}
  />
</MainLayout>
