---
import { Picture } from "astro:assets"

import CardContent from "@/components/ui/card/card-content.astro"
import CardHeader from "@/components/ui/card/card-header.astro"
import CardTitle from "@/components/ui/card/card-title.astro"
import Card from "@/components/ui/card/card.astro"
import type { SelectArticle } from "@/server/db/schema"

interface Props {
  article: Pick<SelectArticle, "slug" | "featuredImage" | "title" | "excerpt">
}

const { article } = Astro.props
---

<Card>
  <a href={`/article/${article.slug}`} class="flex flex-col gap-4 sm:flex-row">
    <div class="w-full p-3 sm:w-auto sm:shrink-0 sm:pr-0">
      <Picture
        src={article.featuredImage}
        formats={["avif", "webp"]}
        alt={article.title}
        inferSize
        quality={50}
        loading="lazy"
        sizes="(min-width: 640px) 176px, 246px"
        class="aspect-video w-full rounded object-cover sm:aspect-square sm:size-44"
      />
    </div>
    <div class="flex-1">
      <CardHeader>
        <CardTitle class="text-lg md:text-xl">{article.title}</CardTitle>
      </CardHeader>
      <CardContent>
        <p class="line-clamp-3">{article.excerpt}</p>
      </CardContent>
    </div>
  </a>
</Card>
