---
import { Picture } from "astro:assets"

import CardContent from "@/components/ui/card/card-content.astro"
import CardHeader from "@/components/ui/card/card-header.astro"
import CardTitle from "@/components/ui/card/card-title.astro"
import Card from "@/components/ui/card/card.astro"
import PaginationContent from "@/components/ui/pagination/pagination-content.astro"
import PaginationItem from "@/components/ui/pagination/pagination-item.astro"
import PaginationNext from "@/components/ui/pagination/pagination-next.astro"
import PaginationPrevious from "@/components/ui/pagination/pagination-previous.astro"
import Pagination from "@/components/ui/pagination/pagination.astro"
import { api } from "@/trpc/server"

interface Props {
  page?: number
  perPage?: number
}

const { page = 1, perPage = 10 } = Astro.props

const articles = await api.article.byLanguage({
  language: "id",
  page,
  perPage,
})

const totalArticles = await api.article.countByLanguage("id")

const totalPages = Math.ceil(totalArticles / perPage)
const currentPage = page
---

<div class="space-y-3">
  {
    articles.map((article) => (
      <Card>
        <a
          href={`/article/${article.slug}`}
          class="flex flex-col gap-4 sm:flex-row"
        >
          <div class="w-full p-3 sm:w-auto sm:shrink-0 sm:pr-0">
            <Picture
              src={article.featuredImage}
              formats={["avif", "webp"]}
              alt={article.title}
              inferSize
              quality={50}
              loading="lazy"
              sizes="(min-width: 640px) 176px, 246px"
              class="aspect-video w-full rounded object-cover sm:aspect-square sm:size-44"
            />
          </div>
          <div class="flex-1">
            <CardHeader>
              <CardTitle class="text-lg md:text-xl">{article.title}</CardTitle>
            </CardHeader>
            <CardContent>
              <p class="line-clamp-3">{article.excerpt}</p>
            </CardContent>
          </div>
        </a>
      </Card>
    ))
  }
</div>

{
  totalPages > 1 && (
    <div class="mt-6">
      <Pagination>
        <PaginationContent>
          {currentPage > 1 && (
            <PaginationItem>
              <PaginationPrevious href={`/article?page=${currentPage - 1}`} />
            </PaginationItem>
          )}

          {currentPage < totalPages && (
            <PaginationItem>
              <PaginationNext href={`/article?page=${currentPage + 1}`} />
            </PaginationItem>
          )}
        </PaginationContent>
      </Pagination>
    </div>
  )
}
