---
import { Picture } from "astro:assets"

import Button from "@/components/ui/button.astro"
import CardContent from "@/components/ui/card/card-content.astro"
import CardHeader from "@/components/ui/card/card-header.astro"
import CardTitle from "@/components/ui/card/card-title.astro"
import Card from "@/components/ui/card/card.astro"
import { api } from "@/trpc/server"

const articles = await api.article.byLanguage({
  language: "id",
  page: 1,
  perPage: 5,
})
---

<h1 class="my-2 text-xl font-bold md:text-2xl">Article Terbaru</h1>
<div class="space-y-3">
  {
    articles.map((article) => (
      <Card>
        <a
          href={`/article/${article.slug}`}
          class="flex flex-col gap-4 sm:flex-row"
        >
          <div class="w-full p-3 sm:w-auto sm:shrink-0 sm:pr-0">
            <Picture
              src={article.featuredImage}
              formats={["avif", "webp"]}
              alt={article.title}
              inferSize
              class="aspect-video w-full rounded object-cover sm:aspect-square sm:size-44"
            />
          </div>
          <div class="flex-1">
            <CardHeader>
              <CardTitle class="text-lg md:text-xl">{article.title}</CardTitle>
            </CardHeader>
            <CardContent>
              <p class="line-clamp-3">{article.excerpt}</p>
            </CardContent>
          </div>
        </a>
      </Card>
    ))
  }
</div>
<div class="mt-4 flex items-center justify-center">
  <a href="/article">
    <Button>Lihat Semua Artikel</Button>
  </a>
</div>
