---
import ArticleListUser from "@/components/article/article-list-user.astro"
import BreadcrumbSchema from "@/components/seo/breadcrumb-schema.astro"
import MainLayout from "@/layouts/main-layout.astro"
import { api } from "@/trpc/server"

const { username } = Astro.params

const user = await api.user.byUsername(username!)

if (!user) {
  return Astro.redirect("/404")
}

const { searchParams } = Astro.url
const currentPage = searchParams.has("page")
  ? parseInt(searchParams.get("page") ?? "1")
  : 1

const pageTitle =
  currentPage > 1
    ? `Artikel dari penulis ${user.name ?? user.username} - Halaman ${currentPage}`
    : (user.name ?? user.username)

const pageDescription =
  currentPage > 1
    ? `Artikel terbaru pada halaman ${currentPage} dari penulis ${user.name ?? user.username}.`
    : `Artikel terbaru dari penulis ${user.name ?? user.username}.`
---

<MainLayout title={pageTitle} description={pageDescription}>
  <h1 class="mb-6 text-2xl font-bold md:text-3xl">
    Artikel oleh {user.name ?? user.username}
  </h1>
  <ArticleListUser user={user} page={currentPage} perPage={10} />
  <BreadcrumbSchema
    listItems={[
      {
        name: "Artikel",
        url: "/article",
      },
      {
        name: user.name ?? user.username,
        url: `/article/user/${user.username}`,
      },
      ...(currentPage > 1
        ? [
            {
              name: `Halaman ${currentPage}`,
              url: `/article/user/${user.username}?page=${currentPage}`,
            },
          ]
        : []),
    ]}
  />
</MainLayout>
