---
import MovieListGenre from "@/components/movie/movie-list-genre.astro"
import BreadcrumbSchema from "@/components/seo/breadcrumb-schema.astro"
import MainLayout from "@/layouts/main-layout.astro"
import { api } from "@/trpc/server"

const { slug } = Astro.params

const genre = await api.genre.bySlug(slug!)

if (!genre) {
  return Astro.redirect("/404")
}

const { searchParams } = Astro.url
const currentPage = searchParams.has("page")
  ? parseInt(searchParams.get("page") ?? "1")
  : 1

const pageTitle =
  currentPage > 1 ? `${genre.title} - Halaman ${currentPage}` : genre.title

const pageDescription =
  currentPage > 1
    ? `Film terbaru pada halaman ${currentPage} dari genre ${genre.title}.`
    : `Film terbaru dari genre ${genre.title}.`
---

<!-- TODO: add more content not just movie when other content type available -->
<MainLayout title={pageTitle} description={pageDescription}>
  <h1 class="mb-6 text-2xl font-bold md:text-3xl">{genre.title}</h1>
  <MovieListGenre genre={genre} page={currentPage} perPage={12} />
  <BreadcrumbSchema
    listItems={[
      {
        name: "Film",
        url: "/movie",
      },
      {
        name: genre.title,
        url: `/movie/genre/${genre.slug}`,
      },
      ...(currentPage > 1
        ? [
            {
              name: `Halaman ${currentPage}`,
              url: `/movie/genre/${genre.slug}?page=${currentPage}`,
            },
          ]
        : []),
    ]}
  />
</MainLayout>
