---
import "@/styles/global.css"

import { Seo } from "astro-seo-meta"

import Sidebar from "@/components/layout/sidebar.astro"
import WebsiteSchema from "@/components/seo/website-schema.astro"
import Theme from "@/components/theme.astro"

import "@fontsource/inter"

interface Props {
  title?: string
  description?: string
  themeColor?: string
  robots?: string
}

const { title, description, themeColor, robots } = Astro.props

const {
  PUBLIC_DOMAIN,
  PUBLIC_LOGO_OG_URL,
  PUBLIC_ROBOTS,
  PUBLIC_SITE_DESCRIPTION,
  PUBLIC_SITE_TITLE,
  PUBLIC_X_USERNAME,
} = import.meta.env

const pageTitle = title ? `${title} | ${PUBLIC_SITE_TITLE}` : PUBLIC_SITE_TITLE
const pageDescription = description ?? PUBLIC_SITE_DESCRIPTION
const pageRobots = robots ?? PUBLIC_ROBOTS
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo
      title={pageTitle}
      description={pageDescription}
      icon="/favicon.ico"
      themeColor={themeColor}
      robots={pageRobots}
      facebook={{
        image: PUBLIC_LOGO_OG_URL,
        url: `https://${PUBLIC_DOMAIN}`,
        type: "website",
      }}
      twitter={{
        image: PUBLIC_LOGO_OG_URL,
        site: `@${PUBLIC_X_USERNAME}`,
        card: "summary",
      }}
    />
    <Theme />
  </head>
  <body
    class="mx-4 mt-8 mb-40 flex max-w-4xl flex-col gap-4 font-sans antialiased md:mt-20 md:flex-row md:gap-8 lg:mx-auto lg:mt-32"
  >
    <Sidebar />
    <main class="mt-6 flex min-w-0 flex-auto flex-col px-2 md:mt-0 md:px-0">
      <slot />
    </main>
    <WebsiteSchema />
  </body>
</html>
